%canvas#first_paper{resize: true}

:javascript
  // Helper to create project and view
  var scope = paper.setup("first_paper");

  with(scope) {
    var center = new Point(100, 100);
    var circle = new Path.Circle(center, 50);
    circle.strokeColor = 'black';

    var path = new Path();
    path.strokeColor = 'black';

    var start = new Point(100, 100);
    path.moveTo(start);
    path.lineTo(start.add([ 200, -50 ]));

    path.segments[1].selected = true;
    path.selected = true;
    circle.segments[1].selected = true;
    circle.selected = true;

    // Basic interaction with tools
    var tool = new Tool();
    tool.onMouseDown = function(event) {
      path.strokeColor = 'red';
      path.add(event.point);
    };

    // Drawing and gameloop
    view.draw();
    view.onFrame = function(event) {
      // path.rotate(3);
    };
  }
