%table.table.table-bordered
  %tr
    %th Period
    - Borough.names.each do |borough|
      %th= borough
  %tr
    %td Hour
    - Borough.names.each do |borough|
      %td= analytics(@hours[borough])
  %tr
    %td Day
    - Borough.names.each do |borough|
      %td= analytics(@days[borough])
  %tr
    %td Week
    - Borough.names.each do |borough|
      %td= analytics(@weeks[borough])
