%h1 New Tweet City
%h4 More at <a href="http://www.dimroc.com">dimroc.com</a>

%ul.span12
  %li.hashtags
    = link_to frequency_path("manhattan") do
      %h2 Popularity of Terms by Neighborhood
  %li.hashtags
    = link_to hashtags_path do
      %h2 Trending in NYC - Hashtag Analytics
  %li.snapshots
    = link_to last_snapshots_path("manhattan") do
      %h2 Tweets as Pixels
  %li.boroughs
    = link_to borough_path("manhattan") do
      %h2 Real-Time Tweets from your Borough
