%h1 New Tweet City

%ul.span12
  %li.boroughs
    = link_to borough_path("manhattan") do
      %h2 Window into your Borough
  %li.snapshots
    = link_to last_snapshots_path("manhattan") do
      %h2 Tweets as Pixels
  %li.hoods
    = link_to hood_path("west-village") do
      %h2 Window into your Neighborhood
