- content_for :top do
  %h2= @borough.titleize

%canvas#borough.hood.span8
.span7
%ul.tweets.span4
  = render partial: 'tweet', collection: @tweets

:javascript
  NTC.hoodsToLoad = [
    '#{@neighborhoods.map(&:slug).join("','")}'
  ];

  NTC.Loader.loadHoods(NTC.hoodsToLoad).done(function(hoods) {
    NTC.Renderer.drawHoods(hoods, 'borough');
    NTC.Listener.listenToTweets('.tweets', hoods);
  });
