- content_for :top do
  - Borough.names.each do |borough|
    - klass = (borough == @borough) ? "active" : ""
    %li{class: klass}= link_to borough, borough_path(borough.downcase)

.absolute
  %canvas#borough.relative

.tweets
  = image_tag 'bouncer.gif', class: 'bouncer'
  %ul
    = render partial: 'tweet', collection: @tweets

:javascript
  NTC.hoodsToLoad = [
    '#{@neighborhoods.map(&:slug).join("','")}'
  ];

  NTC.Loader.loadHoods(NTC.hoodsToLoad).done(function(hoods) {
    NTC.Renderer.drawHoods(hoods, 'borough');
    NTC.Listener.listenToTweets('.tweets ul', hoods);
  });
