.boroughs.show {
  .navbar {
    h2, h5 {
      display: inline-block;
      margin: 10px;
    }
  }

  .absolute {
    height: 100%;
    width: 720px;
    margin-left: -70px;
    /*z-index: -1;*/
    overflow: hidden;

    canvas {
      height: 100%;
      overflow-x: hidden;
    }
  }

  .tweets {
    margin-left: 640px;
    ul {
      overflow-y: hidden;
    }
  }
}
