.boroughs.show {
  .navbar {
    h2, h5 {
      display: inline-block;
      margin: 10px;
    }
  }

  .drawing-holder {
    height: 100%;
    width: 720px;
    margin-left: -70px;
    /*z-index: -1;*/
    overflow: hidden;

    canvas {
      height: 100%;
      overflow-x: hidden;
    }

    @media(max-width: $screen-sm-min) {
      width: 100%;
      margin: auto;
      text-align: center;
      pointer-events: none;
    }
  }

  .tweets {
    @media(min-width: $screen-sm-min) {
      margin-left: 640px;
    }

    ul {
      overflow-y: hidden;
    }
  }
}

.navbar-inner {
  border-radius: 0px;
}
