.boroughs.show {
  .navbar {
    h2, h5 {
      display: inline-block;
      margin: 10px;
    }
  }

  .absolute {
    top: 70px;
    height: 100%;
    z-index: -1;
    overflow-x: hidden;

    canvas {
      height: 100%;
    }
  }

  .tweets {
    margin-left: 640px;
  }
}
