.frequencies {
  .form {
    margin-bottom: 20px;
  }

  canvas.hoods {
    height: 800px;
    width: 800px;
    margin-left: 30%;
    margin-right: 30%;
  }

  .mouse-tail {
    @extend .tooltip;
    @include opacity(0);
    position: absolute;
    float: left;

    .tooltip-inner {
      max-width: 400px;
    }
  }

  .jumbotron {
    padding: 20px;
  }
}
