.hoods {
  table {
    margin-top: 60px;
  }

  .hood {
    position: fixed;
    margin-top: 70px;
    z-index: -1;
    height: 100%;
  }
}

.hoods.show .navbar {
  h1, h4 {
    display: inline-block;
    margin: 10px;
  }
}
