.hoods {
  table {
    margin-top: 60px;
  }

  .tweets {
    margin-left: 500px;
  }
}

.hood {
  position: absolute;
  top: 70px;
  height: 100%;
  z-index: -1;
  overflow-x: hidden;

  canvas {
    height: 100%;
  }
}

.hoods.show .navbar {
  h1, h4 {
    display: inline-block;
    margin: 10px;
  }
}
