.snapshots.show {
  .floating-header {
    position: relative;
    background-color: rgba(255,255,255,0.5);
  }

  .navbar {
    h1, .change_area {
      display: inline-block;

      a {
        margin: 0 10px;
      }
    }
  }

  .background {
    position: fixed;
    top: 0;
    z-index: -1;
  }
}

.snapshots.index {
  .absolute {
    ul, ol {
      display: inline-block;

      li {
        border: solid 1px #ccc;
        background-color: rgba(255,255,255,0.9);
        margin: 5px;
        padding: 10px;
      }

      li:first-child {
        background-color: rgba(160,160,160,0.8);
      }
    }
  }
}

.snapshots {
  .container {
    img {
      max-height: 1024px;
    }
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Smartphones (portrait and landscape) ----------- */
  .snapshots {
    > .container {
      img {
        max-height: 500px;
      }
    }
  }
}

